.containerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.container {
  width: 30%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
}

.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  height: 3rem;
  padding: 0.75rem;
  border: 1px var(--foreground) solid;
}

.inputField input {
  width: 100%;
}

.inputField input:focus {
  outline: none; /* Remove default outline for custom styling */
}

.submitButton button {
  background-color: #7f56d9;
  border-radius: 8px;
  border: 1px solid black;
  padding: 6px;
  cursor: pointer;
}

.submitButton button:hover {
  background-color: hsl(240, 50, 50);
}

.error {
  color: hsl(360, 70, 60);
}

.link {
  color: hsl(221, 46, 46);
}

.link:hover {
  color: hsl(221, 46, 70);
}
