@import "tailwindcss";

:root {
  --background: hsl(240, 10, 90);
  --foreground: hsl(240, 10, 10);
  --foreground-hover: hsl(240, 10, 30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 10, 10);
    --foreground: hsl(240, 10, 90);
    --foreground-hover: hsl(240, 10, 70);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
