.navContainer {
  padding: 1rem 2rem;
  background: var(--background);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navButton {
  padding: 0.5rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.navButton:hover {
  background-color: var(--foreground-hover);
}

.appName {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}
