.navContainer {
  padding: 1rem 2rem;
  background: var(--background);
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 9vh;
}

.navButton {
  padding: 8px;
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.navButton:hover {
  background-color: var(--foreground-hover);
}

.appName {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
